* {
  box-sizing: border-box;
  border: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #504f4f;
  color: #fff;
  padding: 5px;
}
input {
  background-color: grey;
}

::placeholder {
  color: #fff;
}

button {
  box-shadow: none;
  background-color: salmon;
  border-radius: 4px;
}

#result {
  max-width: 100vw;
  word-wrap: break-word;
}
